@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-primaryblack: rgb(28, 27, 26);
  --color-primaryblack-light: rgb(40, 38, 37);
  --color-primaryblack-dark: rgb(0, 0, 0);

  --color-primarywhite: rgb(233, 230, 229);
  --color-primarywhite-light: rgb(243, 242, 241);
  --color-primarywhite-dark: rgb(220, 215, 214);
}

/* sm:... breakpoint */
:root {
  --background-location: 50% 50%;
  --background-size1: 80%;
  --background-size2: 120%;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
} /*
@media (width >= 40rem) {
  :root {
    --background-location: 1% 50%;
    --background-size1: 75%;
    --background-size2: 90%;
  }
}
*/

:root {
  --background: radial-gradient(
    circle at var(--background-location),
    #7a7070,
    #aaaaaa var(--background-size1),
    #b5b5ae var(--background-size2),
    #e5e0e0 var(--background-size2)
  );
  --foreground: var(--color-primaryblack);
  --primary: rgb(138, 12, 58);
  --primary-light: rgb(164, 14, 69);
  --primary-dark: rgb(117, 10, 49);

  --secondary: rgb(223, 195, 135);
  --secondary-light: rgb(228, 205, 154);
  --secondary-dark: rgb(212, 175, 94);

  /* Reverse colors for dark mode */
  &.dark {
    --primary: rgb(223, 195, 135);
    --primary-light: rgb(212, 175, 94);
    --primary-dark: rgb(228, 205, 154);

    --secondary: rgb(138, 12, 58);
    --secondary-light: rgb(117, 10, 49);
    --secondary-dark: rgb(164, 14, 69);

    --background: radial-gradient(
      circle at var(--background-location),
      #1a1010,
      #222222 var(--background-size1),
      #35352e var(--background-size2),
      #151010 var(--background-size2)
    );
    --foreground: var(--color-primarywhite);
  }
}

@layer base {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    color: var(--foreground);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 0.33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.33);
  }

  .main-heading {
    @apply mb-10;
  }

  hr {
    @apply mb-5;
  }

  h1,
  h2 {
    @apply text-primary;
  }

  h3 {
    @apply text-secondary-dark drop-shadow-[0_0.8px_0.8px_var(--primary-dark)];
  }

  h4,
  h5 {
    @apply drop-shadow-[0_1px_1px_var(--primary-dark)];
  }

  h3,
  h4,
  h5,
  p {
    @apply mb-3;
  }

  h1 {
    @apply text-[calc(1.375rem+1.5vw)] xl:text-5xl;
  }
  h2 {
    @apply text-[calc(1.325rem+0.9vw)] xl:text-4xl;
  }
  h3 {
    @apply text-[calc(1.3rem+0.6vw)] xl:text-3xl;
  }
  h4 {
    @apply text-[calc(1.275rem+0.3vw)] xl:text-2xl;
  }
  h5 {
    @apply text-xl;
  }

  .content::before {
    background: var(--background);
    background-size: cover;
    filter: url(#grainy) brightness(220%) opacity(0.4);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;

    &.dark {
      filter: url(#grainy) brightness(100%);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
