@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: rgb(138, 12, 58);
  --color-primary-light: rgb(164, 14, 69);
  --color-primary-dark: rgb(117, 10, 49);

  --color-secondary: rgb(223, 195, 135);
  --color-secondary-light: rgb(228, 205, 154);
  --color-secondary-dark: rgb(212, 175, 94);
  
  --color-primaryblack: rgb(28, 27, 26);
  --color-primaryblack-light: rgb(40, 38, 37);
  --color-primaryblack-dark: rgb(0, 0, 0);

  --color-primarywhite: rgb(233, 230, 229);
  --color-primarywhite-light: rgb(243, 242, 241);
  --color-primarywhite-dark: rgb(220, 215, 214);
}

/* sm:... breakpoint */
:root {
  --background-location: 50% 50%;
  --background-size1: 80%;
  --background-size2: 120%;
}
@media (width >= 40rem) {
  :root {
    --background-location: 100% 90%;
    --background-size1: 50%;
    --background-size2: 75%;
  }
}


:root {
  --background: radial-gradient(
    circle at var(--background-location), #655, #aaaaaa var(--background-size1), #b5b5ae var(--background-size2), #e5e0e0 var(--background-size2)
  );
  --foreground: var(--color-primaryblack);
  &.dark {
    --background: radial-gradient(
      circle at var(--background-location), #1a1010, #222222 var(--background-size1), #35352e var(--background-size2), #151010 var(--background-size2)
    );
    --foreground: var(--color-primarywhite);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--foreground);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.content::before {
  background: var(--background);
  filter: url(#grainy) brightness(180%) opacity(0.5);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: -1;

  &.dark {
    filter: url(#grainy) brightness(100%);
  }
}